<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inlet data</title>
    <style>
        .form-row:first-child .form-group:nth-child(3) {
            margin-left: 200px;
        }
        .form-row:nth-child(2) .form-group:nth-child(3) {
            margin-left: 200px;
        }
    </style>
</head>
<body>
    <h2 class="fw-bold">Inlet Data</h2>
    <br>

<form method="get" action="{% url 'myapp:common_section' data_section=data_section %}" novalidate>
    <div class="form-row">
        <div class="form-group col-md-2">
            {{ iteration_form.min_iteration.label_tag }}
            {{ iteration_form.min_iteration }}
        </div>
        <div class="form-group col-md-2">
            {{ iteration_form.max_iteration.label_tag }}
            {{ iteration_form.max_iteration }}
        </div>
        <div class="form-group col-md-2">
            {{ cpu_time_form.min_cputime.label_tag }}
            {{ cpu_time_form.min_cputime }}
        </div>
        <div class="form-group col-md-2">
            {{ cpu_time_form.max_cputime.label_tag }}
            {{ cpu_time_form.max_cputime }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            {{ travels_form.min_travels.label_tag }}
            {{ travels_form.min_travels }}
        </div>
        <div class="form-group col-md-2">
            {{ travels_form.max_travels.label_tag }}
            {{ travels_form.max_travels }}
        </div>
        <div class="form-group col-md-2">
            {{ value_form.min_value.label_tag }}
            {{ value_form.min_value }}
        </div>
        <div class="form-group col-md-2">
            {{ value_form.max_value.label_tag }}
            {{ value_form.max_value }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Apply Filters</button>
</form>


{#<form method="post" action="{% url 'myapp:common_section' data_section=data_section %}">#}
{#    {% csrf_token %}#}
{#    {{ form.as_table }}#}
{#    <button type="submit">Filter Data</button>#}
{#</form>#}

<!-- inlet_data.html -->
{% if data %}

<div class="export-dropdown">
    <button id="exportButton" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Export <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="exportButton">
        <li><a href="{% url 'myapp:csv_export' data_section=data_section %}?export_format=csv">CSV</a></li>
        <li><a href="{% url 'myapp:excel_export' data_section=data_section %}?export_format=excel">Excel</a></li>
        <li><a href="{% url 'myapp:json_export' data_section=data_section %}?export_format=json">JSON</a></li>
    </ul>
</div>

{% block content %}
    <!-- Content for the Inlet section -->
    <table class="table">
        <thead>
            <tr>
                <th>
                    {% if request.GET.sort_order == "asc" %}
                        <a href="?sort_by=iteration&sort_order=desc">Iterations ↓</a>
                    {% else %}
                        <a href="?sort_by=iteration&sort_order=asc">Iterations ↑</a>
                    {% endif %}
                </th>
                <!-- Add similar blocks for other columns -->
                <th>
                    {% if request.GET.sort_order == "asc" %}
                        <a href="?sort_by=cputime&sort_order=desc">CPU Time ↓</a>
                    {% else %}
                        <a href="?sort_by=cputime&sort_order=asc">CPU Time ↑</a>
                    {% endif %}
                </th>
                <th>
                    {% if request.GET.sort_order == "asc" %}
                        <a href="?sort_by=travels&sort_order=desc">Travels ↓</a>
                    {% else %}
                        <a href="?sort_by=travels&sort_order=asc">Travels ↑</a>
                    {% endif %}
                </th>
                <th>
                    {% if request.GET.sort_order == "asc" %}
                        <a href="?sort_by=value&sort_order=desc">Value ↓</a>
                    {% else %}
                        <a href="?sort_by=value&sort_order=asc">Value ↑</a>
                    {% endif %}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.iteration }}</td>
                <td>{{ item.cputime }}</td>
                <td>{{ item.travels }}</td>
                <td>{{ item.value }}</td>
                <!-- Display other fields specific to Inlet data as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% endif %}

</body>
</html>