<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Outlet data</title>
</head>
<body>


<form method="post" action="{% url 'myapp:common_section' data_section=data_section %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Filter Data</button>
</form>
<!-- inlet_data.html -->
{% if data %}

{% block content %}
    <!-- Content for the Inlet section -->
    <h2>Outlet Data</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Iterations</th>
                <th scope="col">CPU Time</th>
                <th scope="col">Travels</th>
                <th scope="col">Value</th>
                <!-- Add other columns specific to Inlet data as needed -->
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.iteration }}</td>
                <td>{{ item.cputime }}</td>
                <td>{{ item.travels }}</td>
                <td>{{ item.value }}</td>
                <!-- Display other fields specific to Inlet data as needed -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% endif %}

</body>
</html>